<div class="centered">
  <img src="assets/icons/showCars.png" style="width: 500px; margin:40px;">
</div>

<div class="car-containers">
  <div class="car-box" *ngFor="let car of cars">
    <div class="car-image-container">
      <img [src]="'assets/car-displayimages/' + car.displayImage" alt="{{ car.name }}" class="car-image">
    </div>
    <div class="car-details">
      <h3>{{ car.name }}</h3>
      <div class="car-info">
        <p class="car-detail"
        [ngClass]="{'reserved': car.status === 'Reserved' || car.status === 'Rented'}"
          (click)="car.status === 'Open' ? navigateToCarDetails(car) : null"
          style="margin-top: 10px;">
          {{ car.status === 'Reserved' ? 'Reserved' : (car.status === 'Rented' ? 'Rented' : 'Check Details') }}
        </p>

      </div>
    </div>
  </div>
</div>
