<div class="header-container">
    <img src="assets/icons/aboutHeader.png" alt="About Header Image">
</div>

<main>
    <section class="mission-container">
        <h2>Our Mission</h2>
        <p>Our mission at RentMyRide is to make car rental a seamless and enjoyable experience for every customer...</p>
    </section>

    <section class="why-choose-us-container">
        <h2>Why Choose Us?</h2>
        <ul>
            <li><strong>Wide Selection:</strong> Choose from a wide range of vehicles including compact cars, sedans, SUVs, and more...</li>
            <li><strong>Convenience:</strong> With multiple convenient locations and flexible rental options...</li>
            <li><strong>Affordability:</strong> Enjoy competitive rates and special deals...</li>
            <li><strong>Exceptional Service:</strong> Our dedicated team is committed to providing personalized assistance...</li>
            <li><strong>Safety First:</strong> Your safety is our top priority...</li>
        </ul>
        <p>Get started today by browsing our selection of vehicles, checking availability, and booking your rental online or visiting one of our convenient locations.</p>
        <p>Thank you for choosing [Company Name] for your car rental needs. We look forward to serving you!</p>
    </section>
</main>